.bodyLB {
	margin: 0 auto;
	color: white;
	font-family: 'Roboto Thin';
	overflow-x: auto;
}
.articleLB {
	margin: 0 auto;
	background-image: url(image/article.png);
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	position: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}
.backgroundRGB {
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 100%;
}
.listCheats {
	margin: 0 auto;
	padding: 2.5% 2.5% 0% 2.5%;
	display: flex;
	justify-content: space-between;
}
.divCheat {
	font-weight: bold;
	height: 10px;
}
.listCheats_img {
	float: left;
}
.listCheats_text {
	margin: 0 auto;
	display: flex;
	float: right;
}
abbr {
	margin: 0 20px 0 20px;
}
.siteCheat {
	margin: 0 auto;
	display: none;
	position: fixed;
	font-weight: normal;
	font-size: 16px;
	list-style: none;
	height: 114px;
	overflow-y: auto;
	direction: rtl;
	width: 180px;
	cursor: pointer;
}
li {
	margin-left: 10px;
	text-align: left;
}
li:hover {
	color: deepskyblue;
}
li:active {
	color: aqua;
}
.listTargets, .listFun {
	margin-left: 10px;
}
.divHeadText {
	margin-top: 10%;
	z-index: 0;
}
.headtext {
	color: white;
	text-align: center;
	margin: 2%;
}
.headText-1 {
	font-size: 76px;
}
.headText-2 {
	font-size: 30px;
	margin: 0 35% 0 35%;
	border: 1px solid white;
	border-radius: 17.5px;
	min-width: 150px;
}