.intro__title {
	font-weight: 900;
	font-size: calc(32px + (54 - 32) * ((100vw - 320px) / (1280 - 320)));
	line-height: 1.07;
}

@media screen and (min-width: 1280px) {
	.intro__title {
		font-size: 54px;
	}
}