.cover__overlay {
	max-width: 1184px;
	width: 100vw;
	max-height: 740px;
	height: 62.5vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.cover__overlay::before {
	content: '';
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	transition: opacity 0.4s ease;
	background-image: url(../../../images/cover-trains.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	cursor: pointer;
}  

.cover__overlay:hover::before {
	opacity: 0.8;
}