.places {
	padding: 0 48px 92px 48px;
	grid-template-columns: 1fr;
	display: grid;
	row-gap: 80px;
}

@media screen and (max-width: 768px) {
	.places {
		padding-right: 24px;
		padding-left: 24px;
		padding-bottom: 88px;
		row-gap: 73px;
	}
}

@media screen and (max-width: 320px) {
	.places {
		padding-right: 0;
		padding-left: 0;
		padding-bottom: 66px;
		row-gap: 50px;
	}
}