html {
  scroll-behavior: smooth;
}

/* Тело сайта */
.page {
	margin: 0 auto 0 auto;
	max-width: 1280px;
	min-width: 320px;
}

/* Шапка сайта */
.header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 45px;
}

.header__logo-link {
	text-decoration: none;
	text-align: center;
	font-family: 'Tempus Sans ITC', Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
	font-style: italic;
	font-weight: 500;
	font-size: 42px;
	line-height: 1.2;
	color: #414141;
}

.header__menu {
	display: grid;
	grid-template-columns: repeat(3, auto);
	gap: 2.5vw;
	padding: 15px 0 0 0;
}

.header__link {
	text-decoration: none;
	color: #414141;
	font-family: 'Inter', Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 1.2;
	color: #4e4e4e;
	transition: all .3s linear;
}

.header__link:hover {
	color: #8f8f8f;
	transform: scale(1.075);
}

@media screen and (max-width: 476px) {
	.header__content {
		position: relative;
		display: flex;
		justify-content: center;
		padding: 0 0 25px 0;
	}

	.header__menu {
		position: absolute;
		z-index: 2;
		text-align: center;
		transition: all .3s linear;
		width: 87px;
		gap: 5px;
	}

	.header__menu::before {
		content: 'Меню';
		border: 2.5px solid rgb(0, 132, 255);
		border-radius: 13px;
		padding: 5px 10px 5px 10px;
		font-family: 'Inter', Arial, Helvetica, sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 22px;
		line-height: 1.2;
		color: #414141;
		cursor: pointer;
	}

	.header__menu:hover {
		grid-template-columns: repeat(1, auto);
		filter: contrast(350%);
		font-weight: 700;
		transform: scale(1.05);
	}

	.header__link {
		display: none;
		min-height: 25px;
		font-weight: 700;
		background-color: white;
		border: 2px solid rgb(37, 125, 241);
		border-radius: 5px;
	}

	.header__menu:hover > .header__link {
		display: inline;
	}

	.header__link:hover {
		color: rgb(6, 115, 240);
	}
}

/* Секция Images */
.images {
	margin: 0 auto 0 auto;
	max-width: 968px;
}

@media screen and (max-width: 975px) {
	.images {
		max-width: 658px;
	}
}

@media screen and (max-width: 665px) {
	.images {
		max-width: 320px;
	}
}

.images__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
}

.images__card {
	margin: 10px;
	width: 300px;
}

.images__transform:nth-child(4),
.images__transform:nth-child(6),
.images__transform:nth-child(7),
.images__transform:nth-child(9) {
	transform: translateY(-50%);
}

@media screen and (max-width: 975px) {
	.images__transform:nth-child(4),
	.images__transform:nth-child(6) {
		transform: translateY(0);
	}
	.images__transform:nth-child(3),
	.images__transform:nth-child(5) {
		transform: translateY(-50%);
	}
}

@media screen and (max-width: 665px) {
	.images__transform:nth-child(1n) {
		transform: translateY(0);
	}
}

/* Секция Info */
.info {
	margin: 0 auto 0 auto;
	padding: 50px 0 50px 0;;
	background-color: #60606026;
	font-family: 'Inter', Arial, Helvetica, sans-serif;
	font-style: normal;
	line-height: 1.2;
}

@media screen and (max-width: 975px) {
	.info {
		padding: 0 0 50px 0;
	}
}

.info__title {
	margin: 0 0 20px 0;
	text-align: center;
	font-size: 32px;
	font-weight: 700;
}

.info__border {
	margin: 0 auto 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 320px;
	height: 320px;
	background-image: url(../images/rama.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.info__image {
	width: 268px;
	height: 268px;
}

.info__text {
	margin: 20px auto 0 auto;
	max-width: 425px;
	text-align: center;
	font-size: 16px;
}

/* Секция Contact */
.contact {
	margin: 0 auto 0 auto;
	padding: 25px 10px 25px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Inter', Arial, Helvetica, sans-serif;
	font-style: normal;
	line-height: 1.2;
}

.contact__title {
	margin: 0 0 40px 0;
	text-align: center;
	font-size: 32px;
	font-weight: 700;
}

.contact__image {
	width: 290px;
}

.contact__text {
	margin: 40px auto 40px auto;
	max-width: 425px;
	min-width: 290px;
	text-align: center;
	font-size: 16px;
}

.contact__fieldset {
	display: flex;
	flex-direction: column;
	max-width: 525px;
	width: 41vw;
	min-width: 290px;
}

.contact__input {
	margin: 0 0 10px 0;
	border: 1px solid rgb(109, 107, 107);
	min-height: 20px;
}

.contact__input_type_text {
	min-height: 65px;
}

.contact__button {
	margin: 10px 0 0 0;
	float: right;
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-family: 'Inter', Arial, Helvetica, sans-serif;
	font-style: normal;
	line-height: 1.2;
	font-size: 15px;
	font-weight: 700;
	transition: color .3s linear;
}

.contact__button:hover {
	color: rgb(31, 143, 16);
}

/* Подвал сайта */
.footer {
	margin: 0 auto 0 auto;
	padding: 0 10px 0 10px;
	display: flex;
	justify-content: center;
	font-family: 'Inter', Arial, Helvetica, sans-serif;
	font-style: normal;
	line-height: 1.2;
}

.footer__copyright {
	text-align: center;
	font-size: 14px;
}