.header {
	margin: 0 auto 0 auto;
	max-width: 1184px;
	padding: 28px 48px 56px 48px;
	display: flex;
	justify-content: space-between;
	align-items: end;
}

@media screen and (max-width: 1024px) {
	.header {
		max-width: 928px;
		padding-bottom: 48px;
	}
}

@media screen and (max-width: 768px) {
	.header {
		max-width: 720px;
		padding-right: 24px;
		padding-left: 24px;
	}
}

@media screen and (max-width: 320px) {
	.header {
		max-width: 288px;
		padding-top: 16px;
		padding-right: 16px;
		padding-left: 16px;
	}
}