.footer {
	margin: 0 auto 0 auto;
	max-width: 1184px;
	padding: 92px 48px 24px 48px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
	.footer {
		max-width: 928px;
	}
}

@media screen and (max-width: 768px) {
	.footer {
		max-width: 720px;
		padding-top: 88px;
		padding-right: 24px;
		padding-left: 24px;
	}
}

@media screen and (max-width: 320px) {
	.footer {
		max-width: 288px;
		padding-top: 64px;
		padding-right: 16px;
		padding-left: 16px;
		flex-direction: column;
	}
}