.footer {
    margin: 0 auto;
    background-image: url('../Разное/footer.png');
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    min-width: 420px;
}
.RGBA_footer {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
}
.head1_footer {
    margin: 0 auto;
    padding-top: 15px;
    font-family: 'Comic Relief';
    color: white;
    text-align: center;
}
.flex_footer {
    padding-top: 15px;
    display: flex;
    justify-content: center;
}
.Сhoice_flex_footer {
    display: flex;
}
.head2_footer {
    margin: 0 auto;
    padding-top: 15px;
    font-family: 'Comic Relief';
    color: white;
    text-align: center;
}
.position_img_footer {
    width: 50%;
    display: flex;
    justify-content: center;
}
.europa {
    cursor: pointer;
    padding: 15px 15px 15px 15px;
}
.europa:hover {
    opacity: 0.7;
}