/* Привидение к общей стилизации во всех браузерах */
@import url(../vendor/normalize.css);

/* Миксы */
@import url(../blocks/logo/_place/logo_place_header.css);
@import url(../blocks/logo/_place/logo_place_footer.css);
@import url(../blocks/rotation/rotation.css);

/* Тело сайта */
@import url(../blocks/page/page.css);

/* Шапка сайта */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__subtitle/header__subtitle.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__main-illustration/header__main-illustration.css);
@import url(../blocks/header/__square-pic/header__square-pic.css);

/* Секции контента */

/* Секция description */

.description {
  padding: 100px 0 0 0;
  display: flex;
  justify-content: center;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  font-weight: normal;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  color: #2f80ed;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph {
  margin: 0;
}

.two-columns__paragraph:nth-child(2) {
  margin: 30px 0 30px 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

/* Секция techniques */

.techniques {
  margin: 100px auto 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 920px;
}

.cards__item {
  margin: 0 100px 0 0;
  width: calc(100%/3 - 100px);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards__item:nth-child(3) {
  margin: 0;
}

.cards__image {
  margin: 60px 40px 43px 40px;
  border-radius: 50%;
  width: 160px;
  height: 160px;
}

.cards__title {
  margin: 0 0 16px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.cards__description {
  margin: 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}


/* Секция digits */

.digits {
  padding: 100px 0 100px 0;
}

.section-title {
  margin: 0 auto 0 auto;
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  margin: 20px auto 0 auto;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  padding: 60px 0 0 0;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 20px 0 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/* Секция feynman */

.feynman {
  position: relative;
  min-height: 890px;
  background-color: #f2f2f2;
  z-index: 1;
}

.feynman__title {
  margin: 0 auto 0 auto;
  text-align: center;
  padding: 100px 0 0 0;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  text-align: center;
  margin: 70px 0 0 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  text-decoration: none;
  color: #2f80ed;
  z-index: 2;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__image {
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
}

/* Секция kaufman */

.kaufman {
  padding: 90px 0 90px 0;
  position: relative;
  overflow: hidden;
  background-color: #1f1f1f;
  color: white;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  padding: 80px 0 0 0;
}

.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  top: 0;
  right: -210px;
  z-index: -1;
}

/* Подвал сайта */

.footer {
  padding: 60px 0 40px 0;
  box-sizing: border-box;
  min-height: 350px;
  background-color: #1f1f1f;
  color: white;
  display: flex;
  justify-content: center;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  margin: 18px 0 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  padding: 20px 0 16px 0;
  display: flex;
  flex-direction: column;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icon {
  margin: 0 10px 0 0;
  width: 16px;
  height: 16px;
}