/* Подключение к шрифтам */

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: 
    url(./Inter-Regular.woff2) format('woff2'),
    url(./Inter-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src:
    url(./Inter-Medium.woff) format('woff'),
    url(./Inter-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src:
    url(./Inter-Black.woff2) format('woff2'),
    url(./Inter-Black.woff) format('woff');
}

/* Миксы */

html {
	scroll-behavior: smooth;
}

.link {
	text-decoration: none;
	color: white;
	line-height: 1.2;
}

/* Тело сайта */

.body {
	background-color: #131313;
}

.page {
	margin: 0 auto 0 auto;
	max-width: 1280px;
	min-width: 320px;
	color: white;
	font-family: 'Inter', Arial, Helvetica, sans-serif;
	line-height: 1.2;
}

/* Шапка сайта */

.header {
	padding: 10px 20px 10px 20px;
	background-image: url(../images/page/background-image.jpg);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

.header__container {
	margin: 0 auto 0 auto;
	max-width: 1184px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	width: 271px;
	height: 56px;
}

@media screen and (max-width: 475px) {
	.header__logo {
		width: 57vw;
		height: 12vw;
		min-width: 183px;
		min-height: 39px;
	}
}

.header__link {
	padding-bottom: 5px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
	visibility: visible;
	opacity: 1;
	transition: all 0.5s linear;
}

.header__link:hover {
	text-decoration: underline;
}

@media screen and (max-width: 475px) {
	.header__link {
		opacity: 0;
		visibility: hidden;
	}
}

@media screen and (max-width: 440px) {
	.header__link {
		display: none;
	}
}

/* Секция Info */

.info {
	padding: 75px 20px 75px 20px;
}

.info__title {
	margin: 0;
	text-align: center;
	font-weight: 900;
}

.info__paragraph {
	margin: 25px auto 0 auto;
	text-align: center;
	font-weight: 400;
	max-width: 768px;
}

.info__bold {
	font-weight: 900;
}

/* Секция Project */

.project {
	margin: 0 auto 0 auto;
	padding: 0 15px 0px 15px;
	max-width: 948px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(176px, 1fr));
	column-gap: 15px;
	row-gap: 30px;
	justify-content: center;
}

.project__figure {
	margin: 0;
	text-align: center;
}

.project__image {
	width: 176px;
	height: 176px;
	cursor: url(../images/cursor/cursor.png), pointer;
}

.project__image:hover {
	filter: brightness(125%);
}

.project__link {
	font-weight: 900;
	font-size: 18px;
	transition: all 0.3s linear;
}

/* Подвал сайта */

.footer__copyright {
	margin: 35px 0 15px 0;
	text-align: center;
	font-size: 14px;
}

/* Открытие окна */

.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s linear;
}

.popup_open {
	visibility: visible;
	opacity: 1;
}

.popup__content {
	max-width: 300px;
}

.popup__close {
	margin-left: calc(100% + 32px);
	cursor: pointer;
	width: 32px;
	height: 32px;
	opacity: 1;
	transition: opacity 0.3s ease-out;
}

.popup__close:hover {
	opacity: 0.75;
}

@media screen and (max-width: 468px) {
	.popup__close {
		margin-left: calc(100% - 32px);
	}
}

.popup__image {
	width: 300px;
}

.popup__paragraph {
	margin: 0;
	cursor: pointer;
	text-align: center;
	color: white;
	font-family: 'Inter', Arial, Helvetica, sans-serif;
	font-weight: 900;
	font-size: 20px;
	line-height: 1.2;
}

.popup__paragraph:hover {
	text-decoration: underline;
	text-decoration-color: purple;
}