.place__title {
	grid-area: place__title;
	margin: 0;
	max-width: 460px;
	font-weight: 900;
	font-size: calc(32px + (72 - 32) * ((100vw - 320px) / (1280 - 320)));
	line-height: 1.06;
}

@media screen and (min-width: 1280px) {
	.place__title {
		font-size: 72px;
	}
}

@media screen and (max-width: 1024px) {
	.place__title {
		max-width: 440px;
	}
}

@media screen and (max-width: 768px) {
	.place__title {
		max-width: 340px;
	}
}

@media screen and (max-width: 320px)  {
	.place__title {
		margin-left: 16px;
		margin-right: 16px;
		max-width: 288px;
	}
}